
/**
 * Title: CSS for Float-based Grid Layout System
 * Usage: elements with class .column must be nested inside of .row
 */


* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}


.row {
    width:100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

.full {
    width: 100%;
}

.column.one-third {
    width: 33.33%;
}

.column.one-half {
    width: 50%;
}

.column.one-quarter {
    width: 25%;
}

.column.one-sixth {
    width: 16.66%;
}

.column.one-eighth {
    width: 12.5%;
}

.column.one-tenth {
    width: 10%;
}

.column.one-twelfth {
    width: 8%;
}

.offset-one-half {
     margin-left: 50%;
}

.offset-one-quarter {
    margin-left: 25%;
}

.offset-one-eighth {
    margin-left: 12.5%;
}

@media screen and (max-width: 768px) {
    .column.one-third,
    .column.one-half,
    .column.one-quarter,
    .column.one-sixth,
    .column.one-eighth,
    .column.one-tenth,
    .column.one-twelfth {
        width: 100%;
    }

    .offset-one-half {
        margin-left: 0px;
    }
}